* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: T1;
    src: url(../font/Lalezar-Regular.ttf);
}

body {
    user-select: none;
}

::-webkit-scrollbar {
    background: #fff;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

#header-first-image {
    width: 100%;
    height: 100vh;
    background-image: url(../images/firstPhoto.jpg);
    background-size: cover;
    background-position: 0 20%;
    display: flex;
    align-items: center;
}

#header-place-bagIcon-personIcon {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

#place-bagIcon-personIcon {
    width: 6rem;
    height: 2.6rem;
    background-color: black;
    box-shadow: 0px 13px 3rem rgb(255, 240, 219);
    margin-top: -1px;
    border-radius: 5px;
}

#length-glasses-in-bag {
    position: absolute;
    color: white;
    margin-left: 2.4rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    font-family: T1;
}

#bagIcon {
    width: 1.8rem;
    height: 1.8rem;
    color: white;
    margin-top: 0.3rem;
    margin-left: 0.4rem;
    cursor: pointer;
}

#personIcon {
    width: 1.8rem;
    height: 1.8rem;
    color: white;
    margin-top: 0.3rem;
    margin-left: 1.4rem;
}

#header-bag {
    width: 24rem;
    height: 53.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 3.7rem;
    left: -24rem;
    border-radius: 10px;
    box-shadow: 1px 0px 50px white;
    user-select: none;
    transition: 1s;
}

#close-header-bag {
    color: white;
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-left: 20.5rem;
    margin-top: 0.4rem;
}

#close-header-bag:hover {
    opacity: 0.7;
    cursor: pointer;
}

#title-in-bag {
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-top: 5px;
}

#place-glasses-in-bag {
    width: 100%;
    height: 38rem;
    margin-top: 2px;
    overflow-y: scroll;
}

#place-glasses-in-bag::-webkit-scrollbar {
    width: 0;
    display: none;
}

#text-empty-bag {
    font-size: 2.5rem;
    color: white;
    font-family: 'T1';
    text-align: center;
    margin-top: 15rem;
    text-shadow: 0 1px 50px, 0 13px 5px red;
    display: block;
}

#glasses-in-bag {
    width: 90%;
    height: 6.5rem;
    background-color: white;
    margin-left: 5%;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
}

#header-img-glasses-in-bag {
    display: flex;
}

#glasses-in-bag img {
    width: 9.5rem;
    border-radius: 7px 0 0 7px;
}

#header-name-input-price-removeIcon-in-bag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#name-glasses-in-bag {
    text-align: center;
    width: 100%;
    height: 1.8rem;
    font-size: 1.3rem;
    font-family: T1;
}

#header-name-input-price-removeIcon-in-bag input {
    width: 2.1rem;
    height: 1.7rem;
    margin-left: 0rem;
    margin-top: 2.4rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-family: 'T1';
    padding-left: 3px;
}

#price-in-glasses-in-bag {
    font-size: 2rem;
    font-family: 'T1';
    margin-top: 1.9rem;
    margin-left: 2rem;
}

#header-name-input-price-removeIcon-in-bag ion-icon {
    width: 2rem;
    height: 2rem;
    margin-top: 2.2rem;
    margin-left: 0.3rem;
    transition: 0.5s;
}

#header-name-input-price-removeIcon-in-bag ion-icon:hover {
    color: red;
    cursor: pointer;
}

#place-two-btn-totalPrice {
    width: 100%;
    height: 12rem;
    border-top: 1px solid white;
    border-radius: 0 0 10px 10px;
    margin-top: 0.3px;
    display: flex;
    flex-wrap: wrap;
}

#clearAll-btn-in-bag {
    width: 9.6rem;
    height: 2.7rem;
    border: 1px solid #DC3545;
    margin-top: 1.8rem;
    margin-left: 13.1rem;
    border-radius: 5px;
    font-size: 1.8rem;
    font-family: 'T1';
    background-color: rgba(0, 0, 0, 0);
    color: #DC3545;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
}

#clearAll-btn-in-bag:hover {
    background-color: #DC3545;
    color: white;
}

#total-price-in-bag {
    color: white;
    font-size: 2.9rem;
    font-family: 'T1';
    margin-top: 1.1rem;
    margin-left: 0.8rem;
}

#buyBtn-in-bag {
    width: 90%;
    height: 3.2rem;
    margin-top: -2rem;
    margin-left: 5%;
    font-size: 2rem;
    border-radius: 5px;
    background-color: #198754;
    border: 2px solid #198754;
    color: white;
    font-family: 'T1';
    transition: 0.5s;
    cursor: pointer;
}

#buyBtn-in-bag:hover {
    border: 2px solid #198754;
    color: #198754;
    background-color: rgba(0, 0, 0, 0);
}

#place-basic-description {
    width: 33rem;
    height: 26rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 10px 3.5rem rgb(255, 240, 219);
    margin-left: 6rem;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
    transition: 0.5s;
}

#place-text-desc-btn {
    transition: 1s;
    margin-top: -25rem;
}

#welcome-txt {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: T1;
}

#description {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 2.5rem;
    font-family: T1;
}

#btn-buyGlasses {
    color: white;
    width: 31rem;
    height: 3rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: T1;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #00000000;
    transition: 1s;
    cursor: pointer;
}

#btn-buyGlasses:hover {
    background-color: #fff;
    color: black;
}

#container {
    max-width: 80rem;
    margin: 1rem auto;
    padding: 0 1rem;
}

#place-total-glasses {
    width: 100%;
}

#title {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 12px 10px gray;
    font-family: T1;
    color: gray;
}

#place-versace-glasses {
    display: flex;
    flex-wrap: wrap;
}

#glasses-versace {
    width: 14rem;
    height: 30rem;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-glasses-versace {
    overflow: hidden;
    border-radius: 10px;
}

#glasses-versace-img {
    width: 14rem;
    transition: 1s;
}

#glasses-versace-img:hover {
    transform: scale(130%);
}

#description-glasses-versace {
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
}

#glasses-versace-price {
    font-size: 1.4rem;
    margin: -5px 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-versace {
    width: 100%;
    height: 2.1rem;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-versace:hover {
    background-color: #000;
    color: #fff;
}

#place-dior-glasses {
    display: flex;
    flex-wrap: wrap;
}

#glasses-dior {
    width: 14rem;
    height: 20.9rem;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-dior-versace {
    overflow: hidden;
}

#glasses-dior-img {
    width: 14rem;
    transition: 1s;
}

#glasses-dior-img:hover {
    transform: scale(150%);
}

#description-glasses-dior {
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
    margin-top: 0.5rem;

}

#glasses-dior-price {
    font-size: 1.4rem;
    margin: 0 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-dior {
    width: 100%;
    height: 2.1rem;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-dior:hover {
    background-color: #000;
    color: #fff;
}

#place-prada-glasses {
    display: flex;
    flex-wrap: wrap;
}

#glasses-prada {
    width: 14rem;
    height: 29.1rem;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-prada {
    overflow: hidden;
}

#glasses-prada-img {
    width: 14rem;
    transition: 1s;
}

#glasses-prada-img:hover {
    transform: scale(130%);
}

#description-glasses-prada {
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
    margin-top: 0.5rem;
}

#glasses-prada-price {
    font-size: 1.4rem;
    margin: 0 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-prada {
    width: 100%;
    height: 2.2rem;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-prada:hover {
    background-color: #000;
    color: #fff;
}

#header-model-girl-description {
    width: 100%;
    display: flex;
}

#place-model-girl {
    width: 28.7rem;
    height: 23.5rem;
    background-color: white;
    margin-top: 4rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#icon-prev-model-img {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-top: 9rem;
    margin-left: 0.8rem;
}

#icon-prev-model-img:hover {
    opacity: 0.7;
    cursor: pointer;
}

#img-model-girl {
    width: 19.2rem;
    height: 24.1rem;
    margin-left: 4.6rem;
    margin-top: -3rem;
    border-radius: 30px;
    background-image: url(../modelImg/versaceModel1.avif);
    background-size: cover;
}

#icon-next-model-img {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-top: -12.1rem;
    margin-left: 24.7rem;
}

#icon-next-model-img:hover {
    opacity: 0.7;
    cursor: pointer;
}

#description-model-img {
    font-size: 3.2rem;
    margin-left: 11.8rem;
    margin-top: 12.6rem;
    width: 37rem;
    height: 6vh;
    text-align: center;
    font-family: 'T1';
    text-shadow: 0 21px 18px;
}

#header-contact-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#place-input-name-email-description {
    width: 30rem;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    transition: 0.7s;
}

#place-input-name-email-description input {
    width: 25rem;
    height: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 1.3rem;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    font-family: 'T1';
    font-size: 1.1rem;
}

#place-input-name-email-description textarea {
    min-width: 398px;
    max-width: 398px;
    min-height: 80px;
    margin-left: 2.5rem;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    font-family: 'T1';
    font-size: 1.1rem;
}

#send-btn {
    width: 25rem;
    height: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 1.3rem;
    outline: none;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'T1';
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    background: #fff;
    transition: 0.7s;
}

#send-btn:hover {
    background-color: #FEDB41;
    box-shadow: 1px 15px 40px #FEDB41;
    cursor: pointer;
}

#send-btn:hover #send-icon-in-btn {
    margin-left: 0.5rem;
}

#send-icon-in-btn {
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    transition: 0.3s;
}

#header-img-send {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-img-send img {
    width: 11rem;
    height: 11rem;
}

#btn-scrollToTop {
    width: 4.8rem;
    height: 4.7rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: -4.8rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#btn-scrollToTop:hover #iconScrollToTop {
    transform: translateY(-7px);
}

#iconScrollToTop {
    width: 3.5rem;
    height: 3.5rem;
    color: white;
    transition: 0.5s;
}

footer {
    display: flex;
    background-image: url(../images/grilModel.jpg);
    background-size: cover;
    background-position: 0 27%;
}

#header-AAText-socialMedia {
    width: 24rem;
    height: 20rem;
    margin: 2.4rem 2rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

#header-AAText-socialMedia p {
    color: white;
    font-size: 2rem;
    font-family: pInFo;
    text-align: center;
    margin-top: 3rem;
}

@font-face {
    font-family: pInFo;
    src: url(font/Righteous-Regular.ttf);
}

#logo-insta {
    margin-top: 3rem;
    margin-left: 8.7rem;
    width: 3rem;
    height: 3rem;
    color: white;
    animation: rotate360 3s linear infinite;
}

#logo-insta:hover {
    cursor: pointer;
    color: #A439A3;
    animation: 0;
}

#logo-whatsapp {
    margin-top: 3rem;
    margin-left: 20px;
    width: 3rem;
    height: 3rem;
    color: white;
    animation: rotate360 3s linear infinite;
}

#logo-whatsapp:hover {
    cursor: pointer;
    color: #26D367;
    animation: 0;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* media style */
@media (max-width: 1296px) {

    #container {
        max-width: 960px;
    }

    #glasses-versace {
        width: 12rem;
        height: 28.8rem;
        margin: 1rem 1.2rem;
    }

    #glasses-versace-img {
        width: 12rem;
    }

    #btn-add-to-basket-versace {
        margin-top: -7px;
    }

    #glasses-versace-price {
        margin: 13px 0.8rem;
    }

    #glasses-dior {
        width: 12rem;
        height: 19.5rem;
        margin: 1rem 1.2rem;
    }

    #glasses-dior-img {
        width: 12rem;
    }

    #glasses-prada {
        width: 12rem;
        height: 25.5rem;
        margin: 1rem 1.2rem;
    }

    #glasses-prada-img {
        width: 12rem;
    }

    #btn-add-to-basket-prada {
        margin-top: -7px;
    }

    #glasses-prada-price {
        margin: 13px 0.8rem;
    }

    #description-model-img {
        width: 45rem;
        margin-left: 6.8rem;
        font-size: 2.4rem;
    }

    #place-model-girl {
        width: 31rem;
    }

    #icon-prev-model-img {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 9rem;
        margin-left: -1.3rem;
    }

    #icon-next-model-img {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: -12rem;
        margin-left: 19.8rem;
    }

    #img-model-girl {
        width: 18rem;
        margin-left: 1.4rem;
    }

    #header-img-send img {
        margin-left: 18rem;
    }

    #place-input-name-email-description {
        align-items: center;
    }

    #place-input-name-email-description input {
        margin-left: 0;
    }

    #place-input-name-email-description textarea {
        margin-left: 0;
    }

    #place-input-name-email-description button {
        margin-left: 0;
    }
}

@media (max-width: 992px) {

    #container {
        max-width: 720px;
    }

    #glasses-versace {
        margin: 1rem 1.1rem;
    }

    #header-first-image {
        display: flex;
        justify-content: center;
    }

    #place-basic-description {
        margin-left: 0;
    }

    #glasses-dior {
        margin: 1rem 1.1rem;
    }

    #glasses-prada {
        height: 27.5rem;
        margin: 1rem 1.1rem;
    }

    #place-model-girl {
        width: 49.2rem;
    }

    #img-model-girl {
        width: 18.1rem;
        margin-left: 1.4rem;
        margin-top: -3.3rem;
    }

    #icon-next-model-img {
        margin-top: -11.8rem;
        margin-left: 19.8rem;
    }

    #description-model-img {
        margin-left: 2.6rem;
        margin-top: 13rem;
        font-size: 1.8rem;
    }

    #header-img-send img {
        margin-left: 6.9rem;
    }

    #place-input-name-email-description {
        width: 35rem;
        margin-top: 1rem;
    }

    #place-input-name-email-description input {
        width: 19.5rem;
    }

    #place-input-name-email-description textarea {
        min-width: 310px;
        max-width: 310px;
    }

    #place-input-name-email-description button {
        width: 19.5rem;
    }
}

@media (max-width: 768px) {

    #container {
        max-width: 540px;
    }

    #glasses-versace {
        width: 13rem;
        height: 28.8rem;
        margin: 1rem 1.4rem;
    }

    #glasses-versace-img {
        width: 13rem;
    }

    #glasses-versace-price {
        margin: -2px 0.8rem;
    }

    #btn-add-to-basket-versace {
        margin-top: 1px;
    }

    #glasses-dior {
        width: 13rem;
        height: 20.2rem;
        margin: 1rem 1.4rem;
    }

    #glasses-dior-img {
        width: 13rem;
    }

    #glasses-prada {
        width: 13rem;
        height: 27.4rem;
        margin: 1rem 1.4rem;
    }

    #glasses-prada-img {
        width: 13rem;
    }

    #glasses-prada-price {
        margin: -2px 0.8rem;
    }

    #btn-add-to-basket-prada {
        margin-top: 1px;
    }

    footer {
        justify-content: center;
        align-items: center;
    }

    #header-AAText-socialMedia {
        background-color: rgba(0, 0, 0, 0.9);
    }

    #header-model-girl-description {
        flex-direction: column-reverse;
        align-items: center;
    }

    #place-model-girl {
        width: 21rem;
    }

    #description-model-img {
        margin-left: 0;
        margin-top: 0;
        font-size: 1.8rem;
        width: 100%;
    }

    #place-model-girl {
        margin-bottom: 3rem;
    }

    #title {
        margin-top: 2rem;
    }

    #header-contact-us {
        margin-top: 1rem;
    }

    #place-input-name-email-description {
        width: 19.5rem;
    }

    #place-input-name-email-description input {
        width: 16.4rem;
    }

    #place-input-name-email-description textarea {
        min-width: 260px;
        max-width: 260px;
    }

    #place-input-name-email-description button {
        width: 16.4rem;
    }

    #header-img-send {
        width: 6rem;
    }

    #header-img-send img {
        width: 6rem;
        height: 6rem;
        margin-left: 0rem;
    }
}

@media (max-width: 576px) {
    #header-bag {
        width: 20rem;
    }

    #close-header-bag {
        margin-left: 16.5rem;
    }

    #clearAll-btn-in-bag {
        width: 9rem;
        margin-left: 10rem;
    }

    #glasses-in-bag img {
        width: 5.5rem;
    }

    #price-in-glasses-in-bag {
        margin-left: 2.8rem;
    }

    #container {
        max-width: 100%;
    }

    #glasses-versace {
        width: 15rem;
        height: 30rem;
    }

    #glasses-versace-img {
        width: 15rem;
    }

    #place-versace-glasses {
        justify-content: center;
    }

    #place-text-desc-btn {
        margin-top: -30rem;
    }

    #place-basic-description {
        width: 24.5rem;
        height: 31rem;
    }

    #btn-buyGlasses {
        width: 22rem;
    }

    #place-dior-glasses {
        justify-content: center;
    }

    #glasses-dior {
        width: 15rem;
        height: 20rem;
    }

    #glasses-dior-img {
        width: 15rem;
    }

    #glasses-prada {
        width: 15rem;
        height: 29rem;
    }

    #btn-add-to-basket-prada {
        margin-top: 11px;
    }

    #glasses-prada-img {
        width: 15rem;
    }

    #place-prada-glasses {
        justify-content: center;
    }

    #header-AAText-socialMedia {
        width: 21rem;
        height: 21rem;
    }

    #logo-insta {
        margin-left: 7.2rem;
    }

    #header-contact-us {
        flex-direction: column-reverse;
        align-items: center;
    }

    #header-img-send img {
        margin-bottom: -2.5rem;
    }

}

@media (max-width: 420px) {
    
    #place-basic-description {
        width: 18rem;
        height: 32rem;
    }

    #welcome-txt {
        font-size: 1.5rem;
    }

    #description {
        font-size: 1.4rem;
        margin: 1.2rem 2.5rem;
    }

    #btn-buyGlasses {
        width: 15.8rem;
    }

    #place-text-desc-btn {
        margin-top: -31rem;
    }

    #header-AAText-socialMedia {
        width: 15rem;
        height: 16rem;
    }

    #header-AAText-socialMedia p {
        font-size: 1.5rem;
        margin-top: 2.3rem;
    }

    #logo-insta {
        margin-left: 4.8rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    #logo-whatsapp {
        margin-left: 15px;
        width: 2.5rem;
        height: 2.5rem;
    }

    #place-model-girl {
        width: 16.9rem;
    }

    #img-model-girl {
        width: 14.1rem;
        margin-left: 1.4rem;
        margin-top: -3.8rem;
    }

    #icon-next-model-img {
        margin-top: 0.3rem;
        margin-left: 9.2rem;
    }

    #icon-prev-model-img {
        margin-top: 20.5rem;
        margin-left: 5.6rem;
    }

    #description-model-img {
        font-size: 1.5rem;
    }

    #place-input-name-email-description {
        width: 17rem;
    }

    #place-input-name-email-description input {
        width: 14.7rem;
    }

    #place-input-name-email-description textarea {
        min-width: 230px;
        max-width: 230px;
    }

    #place-input-name-email-description button {
        width: 14.7rem;
    }

    #btn-scrollToTop {
        width: 3.5rem;
        height: 3.5rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    #iconScrollToTop {
        width: 3rem;
        color: black;
    }
}