* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-first-image {
    width: 100%;
    height: 100vh;
    background-image: url(images/firstPhoto.jpg);
    background-size: cover;
    background-position: 0 20%;
    display: flex;
    align-items: center;
}

#place-basic-description {
    width: 55vh;
    height: 44vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 10px 3.5rem rgb(255, 240, 219);
    margin-left: 6rem;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
    transition: 0.5s;
}

#welcome-txt {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: T1;
}

@font-face {
    font-family: T1;
    src: url(Lalezar-Regular.ttf);
}

#description {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 2.5rem;
    font-family: T1;
}

#btn-buyGlasses {
    color: white;
    width: 50vh;
    height: 5vh;
    margin-left: 2.5vh;
    font-size: 1.5rem;
    font-family: T1;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #00000000;
    transition: 1s;
}

#btn-buyGlasses:hover {
    border: 0;
    background-color: #fff;
    color: black;
}

#place-text-desc-btn {
    transition: 1s;
    margin-top: -25rem;
}

#container {
    max-width: 80rem;
    margin: 1rem auto;
    padding: 0 1rem;
}

#place-total-glasses {
    width: 100%;
}

#title-glasses {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 10px 10px #000;
    font-family: T1;
    opacity: 0.6;
}

#place-versace-glasses {
    display: flex;
    flex-wrap: wrap;
}

#glasses-versace {
    width: 14rem;
    height: 50vh;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-glasses-versace {
    overflow: hidden;
}

#glasses-versace-img {
    width: 14rem;
    transition: 1s;
}

#glasses-versace-img:hover {
    transform: scale(130%);
}

#description-glasses-versace {
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
}

#glasses-versace-price {
    font-size: 1.4rem;
    margin: -5px 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-versace {
    width: 100%;
    height: 3.5vh;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-versace:hover {
    background-color: #000;
    color: #fff;
}

#place-dior-glasses {
    display: flex;
    flex-wrap: wrap;
}

#glasses-dior {
    width: 14rem;
    height: 34.7vh;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-dior-versace {
    overflow: hidden;
}

#glasses-dior-img {
    width: 14rem;
    transition: 1s;
}

#glasses-dior-img:hover {
    transform: scale(150%);
}

#description-glasses-dior {
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
    margin-top: 0.5rem;
    
}

#glasses-dior-price {
    font-size: 1.4rem;
    margin: 0 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-dior {
    width: 100%;
    height: 3.5vh;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-dior:hover {
    background-color: #000;
    color: #fff;
}

#place-prada-glasses{
    display: flex;
    flex-wrap: wrap;
}

#glasses-prada{
    width: 14rem;
    height: 48.4vh;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-prada{
    overflow: hidden;
}

#glasses-prada-img{
    width: 14rem;
    transition: 1s;
}

#glasses-prada-img:hover {
    transform: scale(130%);
}

#description-glasses-prada{
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
    margin-top: 0.5rem;
}

#glasses-prada-price{
    font-size: 1.4rem;
    margin: 0 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-prada{
    width: 100%;
    height: 3.5vh;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-prada:hover {
    background-color: #000;
    color: #fff;
}

/* media style */
@media (max-width: 1296px) {

    #container {
        max-width: 960px;
    }

    #glasses-versace {
        width: 12rem;
        height: 48vh;
        margin: 1rem 1.2rem;
    }

    #glasses-versace-img {
        width: 12rem;
    }

    #btn-add-to-basket-versace {
        margin-top: -7px;
    }

    #glasses-versace-price {
        margin: 13px 0.8rem;
    }

    #glasses-dior {
        width: 12rem;
        height: 32.5vh;
        margin: 1rem 1.2rem;
    }

    #glasses-dior-img {
        width: 12rem;
    }

    #glasses-prada {
        width: 12rem;
        height: 45.8vh;
        margin: 1rem 1.2rem;
    }

    #glasses-prada-img {
        width: 12rem;
    }

    #btn-add-to-basket-prada {
        margin-top: -7px;
    }

    #glasses-prada-price {
        margin: 13px 0.8rem;
    }
}

@media (max-width: 992px) {

    #container {
        max-width: 720px;
    }

    #glasses-versace {
        margin: 1rem 1.1rem;
    }

    #header-first-image {
        display: flex;
        justify-content: center;
    }

    #place-basic-description {
        margin-left: 0;
    }

    #glasses-dior {
        margin: 1rem 1.1rem;
    }

    #glasses-prada { 
        margin: 1rem 1.1rem;
    }

}

@media (max-width: 768px) {

    #container {
        max-width: 540px;
    }

    #glasses-versace {
        width: 13rem;
        height: 48vh;
        margin: 1rem 1.4rem;
    }

    #glasses-versace-img {
        width: 13rem;
    }

    #glasses-versace-price {
        margin: -2px 0.8rem;
    }

    #btn-add-to-basket-versace {
        margin-top: 1px;
    }

    #glasses-dior {
        width: 13rem;
        height: 33.6vh;
        margin: 1rem 1.4rem;
    }

    #glasses-dior-img {
        width: 13rem;
    }

    #glasses-prada {
        width: 13rem;
        height: 45.5vh;
        margin: 1rem 1.4rem;
    }

    #glasses-prada-img {
        width: 13rem;
    }

    #glasses-prada-price {
        margin: -2px 0.8rem;
    }

    #btn-add-to-basket-prada {
        margin-top: 1px;
    }

}

@media (max-width: 576px) {

    #container {
        max-width: 100%;
    }

    #glasses-versace {
        width: 15rem;
        height: 49.9vh;
    }

    #glasses-versace-img {
        width: 15rem;
    }

    #place-versace-glasses {
        justify-content: center;
    }

    #place-text-desc-btn {
        margin-top: -30rem;
    }

    #place-basic-description {
        width: 41vh;
        height: 52vh;
    }

    #btn-buyGlasses {
        width: 36vh;
    }

    #place-dior-glasses {
        justify-content: center;
    }

    #glasses-dior {
        width: 15rem;
        height: 33.2vh;
    }

    #glasses-dior-img {
        width: 15rem;
    }

    #glasses-prada {
        width: 15rem;
        height: 48.1vh;
    }

    #btn-add-to-basket-prada {
        margin-top: 11px;
    }

    #glasses-prada-img {
        width: 15rem;
    }

    #place-prada-glasses {
        justify-content: center;
    }

}

@media (max-width: 420px) {
    #place-basic-description {
        width: 30vh;
        height: 53vh;
    }

    #welcome-txt {
        font-size: 1.5rem;
    }

    #description {
        font-size: 1.4rem;
        margin: 1.2rem 2.5rem;
    }

    #btn-buyGlasses {
        width: 25vh;
    }

    #place-text-desc-btn {
        margin-top: -31rem;
    }
}