* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-first-image {
    width: 100%;
    height: 100vh;
    background-image: url(images/firstPhoto.jpg);
    background-size: cover;
    background-position: 0 20%;
    display: flex;
    align-items: center;
}

#place-basic-description {
    width: 55vh;
    height: 45vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 10px 3.5rem rgb(255, 240, 219);
    margin-left: 6rem;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
    transition: 0.5s;
}

#welcome-txt {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: T1;
}

@font-face {
    font-family: T1;
    src: url(Lalezar-Regular.ttf);
}

#description {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 2.5rem;
    font-family: T1;
}

#btn-buyGlasses {
    color: white;
    width: 50vh;
    height: 5vh;
    margin-left: 2.5vh;
    font-size: 1.5rem;
    font-family: T1;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #00000000;
    transition: 1s;
}

#btn-buyGlasses:hover {
    border: 0;
    background-color: #fff;
    color: black;
}

#place-text-desc-btn {
    transition: 1s;
    margin-top: -25rem;
}

#container {
    max-width: 80rem;
    margin: 1rem auto;
    padding: 0 1rem;
}

#place-total-glasses {
    width: 100%;
    height: 60vh;
}

#title-versace {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 10px 10px #000;
    font-family: T1;
}

#glasses-versace {
    width: 14rem;
    height: 40vh;
    background: #fff;
    margin: 2rem 1rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#glasses-versace-img {
    width: 14rem;
}

/* media style */
@media (max-width: 1240px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}