* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: T1;
    src: url(font/Lalezar-Regular.ttf);
}

::-webkit-scrollbar {
    background: #fff;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

#header-first-image {
    width: 100%;
    height: 100vh;
    background-image: url(images/firstPhoto.jpg);
    background-size: cover;
    background-position: 0 20%;
    display: flex;
    align-items: center;
}

#header-place-bagIcon-personIcon {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

#place-bagIcon-personIcon {
    width: 10vh;
    height: 4.5vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 13px 3rem rgb(255, 240, 219);
    margin-top: -1px;
    border-radius: 5px;
}

#length-glasses-in-bag {
    position: absolute;
    color: white;
    margin-left: -0.3rem;
    font-size: 1.3rem;
    margin-top: 1.7rem;
    font-family: T1;
}

#bagIcon {
    width: 3vh;
    height: 3vh;
    color: white;
    margin-top: 0.3rem;
    margin-left: 0.4rem;
    cursor: pointer;
}

#personIcon {
    width: 3vh;
    height: 3vh;
    color: white;
    margin-top: 0.3rem;
    margin-left: 1.4rem;
}

#header-bag {
    width: 40vh;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 3.7rem;
    left: -24rem;
    border-radius: 10px;
    box-shadow: 1px 0px 50px white;
    user-select: none;
    transition: 1s;
}

#close-header-bag {
    color: white;
    position: absolute;
    width: 5vh;
    height: 5vh;
    margin-left: 20.7rem;
    margin-top: 0.2rem;
}

#close-header-bag:hover {
    opacity: 0.7;
    cursor: pointer;
}

#title-in-bag {
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-top: 5px;
}

#place-glasses-in-bag {
    width: 100%;
    height: 63vh;
    margin-top: 2px;
    overflow-y: scroll;
}

#place-glasses-in-bag::-webkit-scrollbar {
    background: #fff;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    width: 10px;
}

#place-glasses-in-bag::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

#glasses-in-bag {
    width: 90%;
    height: 11vh;
    background-color: white;
    margin-left: 5%;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
}

#header-img-glasses-in-bag {
    display: flex;
}

#glasses-in-bag img {
    width: 16vh;
    border-radius: 7px 0 0 7px;
}

#header-name-input-price-removeIcon-in-bag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#name-glasses-in-bag {
    text-align: center;
    width: 100%;
    height: 3vh;
    font-size: 1.3rem; 
    font-family: T1;
}

#header-name-input-price-removeIcon-in-bag input { 
    height: 3vh;
    width: 3.5vh;
    margin-left: 0rem;
    margin-top: 2.4rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-family: 'T1';
    padding-left: 3px;
}

#price-in-glasses-in-bag {
    font-size: 2rem;
    font-family: 'T1';
    margin-top: 1.9rem;
    margin-left: 2rem;
}

#header-name-input-price-removeIcon-in-bag ion-icon {
    width: 3.3vh;
    height: 3.3vh;
    margin-top: 2.2rem;
    margin-left: 0.3rem;
    transition: 0.5s;
}

#header-name-input-price-removeIcon-in-bag ion-icon:hover {
    color: red;
    cursor: pointer;
}

#place-two-btn-totalPrice {
    width: 100%;
    height: 18.5vh;
    border-top: 1px solid white;
    border-radius: 0 0 10px 10px;
    margin-top: 0.3px;
    display: flex;
    flex-wrap: wrap;
}

#clearAll-btn-in-bag {
    width: 16vh;
    height: 4.5vh;
    border: 1px solid #DC3545;
    margin-top: 1.8rem;
    margin-left: 13.1rem;
    border-radius: 5px;
    font-size: 1.8rem;
    font-family: 'T1';
    background-color: rgba(0,0,0, 0);
    color: #DC3545;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
}

#clearAll-btn-in-bag:hover {
    background-color: #DC3545;
    color: white;
}

#total-price-in-bag {
    color: white;
    font-size: 2.9rem;
    font-family: 'T1';
    margin-top: 1.1rem;
    margin-left: 0.8rem;
}

#buyBtn-in-bag {
    width: 90%;
    height: 5.5vh;
    margin-top: -2rem;
    margin-left: 5%;
    font-size: 2rem;
    border: 2px solid #198754;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    color: #198754;
    font-family: 'T1';
    transition: 0.5s;
    cursor: pointer;
}

#buyBtn-in-bag:hover {
    color: white;
    background-color: #198754;
}

#place-basic-description {
    width: 55vh;
    height: 44vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 10px 3.5rem rgb(255, 240, 219);
    margin-left: 6rem;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
    transition: 0.5s;
}

#place-text-desc-btn {
    transition: 1s;
    margin-top: -25rem;
}

#welcome-txt {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: T1;
}

#description {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 2.5rem;
    font-family: T1;
}

#btn-buyGlasses {
    color: white;
    width: 50vh;
    height: 5vh;
    margin-left: 2.5vh;
    font-size: 1.5rem;
    font-family: T1;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #00000000;
    transition: 1s;
}

#btn-buyGlasses:hover {
    background-color: #fff;
    color: black;
}

#container {
    max-width: 80rem;
    margin: 1rem auto;
    padding: 0 1rem;
}

#place-total-glasses {
    width: 100%;
}

#title-glasses {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 10px 10px #000;
    font-family: T1;
    opacity: 0.6;
}

#place-versace-glasses {
    display: flex;
    flex-wrap: wrap;
}

#glasses-versace {
    width: 14rem;
    height: 50vh;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-glasses-versace {
    overflow: hidden;
}

#glasses-versace-img {
    width: 14rem;
    transition: 1s;
}

#glasses-versace-img:hover {
    transform: scale(130%);
}

#description-glasses-versace {
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
}

#glasses-versace-price {
    font-size: 1.4rem;
    margin: -5px 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-versace {
    width: 100%;
    height: 3.5vh;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-versace:hover {
    background-color: #000;
    color: #fff;
}

#place-dior-glasses {
    display: flex;
    flex-wrap: wrap;
}

#glasses-dior {
    width: 14rem;
    height: 34.7vh;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-dior-versace {
    overflow: hidden;
}

#glasses-dior-img {
    width: 14rem;
    transition: 1s;
}

#glasses-dior-img:hover {
    transform: scale(150%);
}

#description-glasses-dior {
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
    margin-top: 0.5rem;

}

#glasses-dior-price {
    font-size: 1.4rem;
    margin: 0 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-dior {
    width: 100%;
    height: 3.5vh;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-dior:hover {
    background-color: #000;
    color: #fff;
}

#place-prada-glasses {
    display: flex;
    flex-wrap: wrap;
}

#glasses-prada {
    width: 14rem;
    height: 48.4vh;
    background: #fff;
    margin: 1rem 0.8rem;
    box-shadow: 0 1px 15px #ccc;
    border-radius: 10px;
}

#header-image-prada {
    overflow: hidden;
}

#glasses-prada-img {
    width: 14rem;
    transition: 1s;
}

#glasses-prada-img:hover {
    transform: scale(130%);
}

#description-glasses-prada {
    text-align: center;
    font-size: 1rem;
    font-family: 'T1';
    padding: 0 2px;
    margin-top: 0.5rem;
}

#glasses-prada-price {
    font-size: 1.4rem;
    margin: 0 0.8rem;
    font-family: 'T1';
}

#btn-add-to-basket-prada {
    width: 100%;
    height: 3.5vh;
    border: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
    background: #F1F1F1;
    font-size: 1rem;
    font-family: T1;
    cursor: pointer;
    margin-top: 4px;
}

#btn-add-to-basket-prada:hover {
    background-color: #000;
    color: #fff;
}

#header-model-girl-description {
    width: 100%;
    display: flex;
}

#place-model-girl {
    width: 15vh;
    height: 20vh;
}

#btn-scrollToTop {
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: -4.8rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#btn-scrollToTop:hover #iconScrollToTop {
    transform: translateY(-7px);
}

#iconScrollToTop {
    width: 6vh;
    height: 6vh;
    color: white;
    transition: 0.5s;
}

footer {
    height: 43vh;
    display: flex;
    background-image: url(images/grilModel.jpg);
    background-size: cover;
    background-position: 0 27%;
}

#header-AAText-socialMedia {
    width: 40vh;
    height: 36vh;
    margin: 2.4rem 2rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

#header-AAText-socialMedia p {
    color: white;
    font-size: 2rem;
    font-family: pInFo;
    text-align: center;
    margin-top: 3rem;
}

@font-face {
    font-family: pInFo;
    src: url(font/Righteous-Regular.ttf);
}

#logo-insta {
    margin-top: 3rem;
    margin-left: 8.7rem;
    width: 5vh;
    height: 5vh;
    color: white;
    animation: rotate360 3s linear infinite;
}

#logo-insta:hover {
    cursor: pointer;
    color: #A439A3;
    animation: 0;
}

#logo-whatsapp {
    margin-top: 3rem;
    margin-left: 20px;
    width: 5vh;
    height: 5vh;
    color: white;
    animation: rotate360 3s linear infinite;
}

#logo-whatsapp:hover {
    cursor: pointer;
    color: #26D367;
    animation: 0;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* media style */
@media (max-width: 1296px) {

    #container {
        max-width: 960px;
    }

    #glasses-versace {
        width: 12rem;
        height: 48vh;
        margin: 1rem 1.2rem;
    }

    #glasses-versace-img {
        width: 12rem;
    }

    #btn-add-to-basket-versace {
        margin-top: -7px;
    }

    #glasses-versace-price {
        margin: 13px 0.8rem;
    }

    #glasses-dior {
        width: 12rem;
        height: 32.5vh;
        margin: 1rem 1.2rem;
    }

    #glasses-dior-img {
        width: 12rem;
    }

    #glasses-prada {
        width: 12rem;
        height: 45.8vh;
        margin: 1rem 1.2rem;
    }

    #glasses-prada-img {
        width: 12rem;
    }

    #btn-add-to-basket-prada {
        margin-top: -7px;
    }

    #glasses-prada-price {
        margin: 13px 0.8rem;
    }
}

@media (max-width: 992px) {

    #container {
        max-width: 720px;
    }

    #glasses-versace {
        margin: 1rem 1.1rem;
    }

    #header-first-image {
        display: flex;
        justify-content: center;
    }

    #place-basic-description {
        margin-left: 0;
    }

    #glasses-dior {
        margin: 1rem 1.1rem;
    }

    #glasses-prada {
        margin: 1rem 1.1rem;
    }

}

@media (max-width: 768px) {

    #container {
        max-width: 540px;
    }

    #glasses-versace {
        width: 13rem;
        height: 48vh;
        margin: 1rem 1.4rem;
    }

    #glasses-versace-img {
        width: 13rem;
    }

    #glasses-versace-price {
        margin: -2px 0.8rem;
    }

    #btn-add-to-basket-versace {
        margin-top: 1px;
    }

    #glasses-dior {
        width: 13rem;
        height: 33.6vh;
        margin: 1rem 1.4rem;
    }

    #glasses-dior-img {
        width: 13rem;
    }

    #glasses-prada {
        width: 13rem;
        height: 45.5vh;
        margin: 1rem 1.4rem;
    }

    #glasses-prada-img {
        width: 13rem;
    }

    #glasses-prada-price {
        margin: -2px 0.8rem;
    }

    #btn-add-to-basket-prada {
        margin-top: 1px;
    }

    footer {
        justify-content: center;
        align-items: center;
    }

    #header-AAText-socialMedia {
        background-color: rgba(0, 0, 0, 0.9);
    }

}

@media (max-width: 576px) {

    #container {
        max-width: 100%;
    }

    #glasses-versace {
        width: 15rem;
        height: 49.9vh;
    }

    #glasses-versace-img {
        width: 15rem;
    }

    #place-versace-glasses {
        justify-content: center;
    }

    #place-text-desc-btn {
        margin-top: -30rem;
    }

    #place-basic-description {
        width: 41vh;
        height: 52vh;
    }

    #btn-buyGlasses {
        width: 36vh;
    }

    #place-dior-glasses {
        justify-content: center;
    }

    #glasses-dior {
        width: 15rem;
        height: 33.2vh;
    }

    #glasses-dior-img {
        width: 15rem;
    }

    #glasses-prada {
        width: 15rem;
        height: 48.1vh;
    }

    #btn-add-to-basket-prada {
        margin-top: 11px;
    }

    #glasses-prada-img {
        width: 15rem;
    }

    #place-prada-glasses {
        justify-content: center;
    }

    #header-AAText-socialMedia {
        width: 35vh;
        height: 35vh;
    }

    #logo-insta {
        margin-left: 7rem;
    }

}

@media (max-width: 420px) {
    #place-basic-description {
        width: 30vh;
        height: 53vh;
    }

    #welcome-txt {
        font-size: 1.5rem;
    }

    #description {
        font-size: 1.4rem;
        margin: 1.2rem 2.5rem;
    }

    #btn-buyGlasses {
        width: 25vh;
    }

    #place-text-desc-btn {
        margin-top: -31rem;
    }

    #header-AAText-socialMedia {
        width: 25vh;
        height: 29vh;
    }

    #header-AAText-socialMedia p {
        font-size: 1.5rem;
        margin-top: 2.3rem;
    }

    #logo-insta {
        margin-left: 4.7rem;
        width: 4vh;
        height: 4vh;
    }

    #logo-whatsapp {
        margin-left: 15px;
        width: 4vh;
        height: 4vh;
    }
}